.sec-1{
        background-color: bisque;
}
.div-1 h1{
        color: brown;
}
.div-1 p{
        color: blueviolet;
}
.sec-2{
        background-color: burlywood;
}
.div-2 h1{
        color:brown;
}
.div-2 button{
        background-color:darkgoldenrod;
}